<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="serviceTypeRegister" type="WcfJsonFormatter.Configuration.ServiceTypeRegister, WcfJsonFormatter" />
	</configSections>
	<appSettings/>
	<serviceTypeRegister checkOperationTypes="false">
	  <serializer onlyPublicConstructor="false" enablePolymorphicMembers="true" dateFormatHandling="IsoDateFormat" dateFormatString="dd/mm/yyyy" dateParseHandling="DateTime" />
	  <serviceTypes>
		  <serviceType name="*" assembly="PersistentLayer.Domain" />
	  </serviceTypes>
	  <resolverTypes>
		  <resolverType>
			  <serviceType name="System.Collections.Generic.IEnumerable`1" assembly="mscorlib" />
			  <binderType name="System.Collections.Generic.List`1" assembly="mscorlib" />
		  </resolverType>
		  <resolverType>
			  <serviceType name="System.Collections.Generic.ICollection`1" assembly="mscorlib" />
			  <binderType name="System.Collections.ObjectModel.Collection`1" assembly="mscorlib" />
		  </resolverType>
	  </resolverTypes>
	</serviceTypeRegister>
</configuration>
