<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
      <section name="serviceTypeRegister" type="WcfJsonFormatter.Configuration.ServiceTypeRegister, WcfJsonFormatter" />
    </configSections>

    <serviceTypeRegister>
      <serviceTypes>
        <!--<add name="PersistentLayer.Domain.Salesman" assembly="PersistentLayer.Domain" />-->
        <add name="*" assembly="PersistentLayer.Domain" />
      </serviceTypes>
    </serviceTypeRegister>
</configuration>